@font-face {
    font-family: 'Mine';
    src: url(../../img/Minecraft.ttf)
  }
  
  body{
    background: rgb(22, 22, 22);
  
  }
  
  div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    position: fixed; 
    width: 100%;
    height: 100%;
  }
  
  .popup {
    background-image:url(./img/Tutorial/Tutorial\ V2.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    width: 450px;
    height: 400px;
    position: absolute;
  }
  
  .popup button{
    position: relative;
    top: 0;
    right: 0;
    width: 1024px;
    height: 576px;
    background-color: #c29b6000;
  }
  
  button:hover{
    cursor: pointer;
  }
  
  
  .overlayTalk{
      display: none;
      background-color: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 22.2rem;
      width: 1024px;
      height: 576px;
      z-index: 9999;
   }
  
   .talk {
    background-size: contain;
    background-repeat: no-repeat;
    width: 1024px;
    height: 576px;
    position: absolute;
    display: none;
  }
  
  .buttonTalk{
  position: absolute;
  top: 28rem;
  left: 17.8rem;
  width: 12rem;
  height: 2.5rem;
  border: #000000 2px solid;
  }
  
  .buttonTalk button{
  width: 100%;
  height: 100%;
  background-color: #c6c6c6;
  border-top: #ffffff 3px solid;
  border-left: #ffffff 3px solid;
  border-bottom: #535353 3px solid;
  border-right: #535353 3px solid;
  font-family: 'Mine';
  font-size: 20px;
  color: #292929;
  }
  
  .buttonTalk button:hover{
  background-color: #f7f7f7;
  color: #070707;
  }
  
  .nextButtonTalk{
  left: 32rem
  }
  
  .linkButton{
  left: 46rem;
  display: none;
  }
  
  .linkButtons{
  display: none;
  }